body {
  background-color: #333;

}

div {
  background-color: #eee;
  width: 800px;
  margin: auto;
  padding: 20px;

  font-family: Helvetica, Arial, sans-serif;
}

header, footer {
  background-color: teal;
  padding:20px;
  text-align: center;
  font-size: 50px;

}

footer {  font-size: 12px; }

nav {
  background-color: teal;
  padding: 20px;
  text-align: center;
}

nav a {
  display: inline-block;
  width: 100px;
  background-color: purple;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;

}

nav a:hover { background-color: maroon;}

nav a.youarehere {background-color: goldenrod;}

main {
  display: flex;
}

article {
  width: 60%;
  padding: 20px;
  background-color: white;

}

aside {
  width: 40%;
  padding: 20px;
  background-color: pink;
}

img {
  max-width: 100%;
}
