body {
	background-color: teal;
}

.wrapper {
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

header {	padding: 20px; background-color: maroon;}
main {	padding: 20px; background-color: grey; }
section {	padding: 20px;background-color: goldenrod; margin-bottom: 20px;}
footer {	padding: 20px; background-color: maroon;}

img.smaller {
	width: 150px;
}

p {
	text-align: justify;
}
/*---- floats can only go right or left
the purpose of floats is to have text wrap around the image ----*/

#girl1 {
	float: right;
}

#girl2 {
	float: right;
}

#girl3 {
	float: left;
}


section.last {
	float: left;
	width: 720px;
}

#girl4 {
	float: right;
}

#girl5 {
	float: left;
}

/*--- clear the float --*/
main {float: left;}
footer {clear: both;}
